/* YONINA ROLLACK HEADER  */ 
.center-header-YR {
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 70%;
     max-width: 550px;
   
   }
   

/* FRONT PAGE   */ 
.gifheader {
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 1000px;
}
      	
.bio {
    font-family: Helvetica; 
    text-align:center; 
    font-size:16px;
    }



    
a { text-decoration: none; }
    
/**Navgation bar **/
ul {
    list-style-type: none;
    padding: 0;
    overflow:hidden;
}
li a{
    margin:0 auto;
    display:block;
    width: 220px;
    font:normal 16px Arial, sans-serif;
    color:black	;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
    font-weight: bold;
}
	
li a.active {
  background-color: white;
  color: #878787;
  font-weight: bold;
  font:30px;
}
	
li a:hover:not(.active){
        font-weight: bold;
        color: #878787;
}
li {
    display:inline-block;
}
#menu {
    background-color:white;
text-align:center;
}
	
	/* copyright footer  */ 
			.copyright {
font-family: Arial; 
text-align:center;
font-size:14px; 
}



/**Contact form **/

.form-div{
    max-width: 350px; 
    margin: 0 auto;
}

.form-group {
    margin: 10px auto;
    text-align: left; 
}

.form-label {
    font: normal 16px Arial, sans-serif;
    font-weight: bold;
    color: black;
    margin-bottom: 5px; 
}

.form-group input,
.form-group textarea {
    width: calc(100% - 10px); 
    margin-top: 5px; 
    padding: 8px; 
    box-sizing: border-box; 
}

.button {
    background-color: #e86b65; 
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: block; 
    width: calc(100% - 10px); 
    box-sizing: border-box; /
}
